main {
	background-color: white;
	font-family: "Hanken Grotesk", Calibri, Tahoma, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 12%;
}


/* The Card */
section {
	padding: 15px;
	border-radius: 8%;
	background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	text-align: center;
	height: 375px;
	width: 255px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score-circle {
	display: flex;
	flex-direction: column;
	height: 150px;
	width: 150px;
	padding: 10px;
	text-align: center;
	border-radius: 50%;
	background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0))
}
/* The Card's text colors */
section > h3 {
	color: hsl(241, 100%, 89%);
}

.score-circle > h1{
	font-size: 55px;
	color: hsl(0, 0%, 100%);
	margin: 0px;
	padding-top:32px;
}

.score-circle > h4 {
	font-size: 14px;
	color: hsl(241, 100%, 89%);
	opacity: 40%;
	margin: 0.5px;
}

section > h2 {
	color: white;
	margin-top: 10px;
	margin-bottom: 0px;
}

section > p {
	width: 235px;
	color: hsl(241, 100%, 89%);
	opacity: 80%;
}

/*Summary*/

.summary {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 15px;
	height: 375px;
	width: 400px;
}

.summary > * {
	border-radius: 10px;
	margin-left: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 15px;
	padding-top: 0px;
	padding-bottom: 4px;
	height: 45px;
}

.summary > h3 {
	font-size: 25px;
	margin-bottom: 10px;
}

.icon {
	margin: 10px;
}

.category {
	margin-right: 180px;
}

.scored {
	color: black;
	margin-right: 10px;
}

.max-score {
	color: black;
	opacity: 50%;
	margin-right: 10px;
}

.reaction {
	background-color: hsl(0, 100%, 67%, .3);
	color: hsl(0, 100%, 67%);
	display: flex;
	flex-wrap: wrap;
}


.memory {
	background-color: hsl(39, 100%, 56%, .3);
	color: hsl(39, 100%, 56%);
	display: flex;
	flex-wrap: wrap;
}

.verbal {
	background-color: hsl(166, 100%, 37%, .3);
	color: hsl(166, 100%, 37%);
	display: flex;
	flex-wrap: wrap;
}

.verbal > .category{
	margin-right: 194px;
}

.visual {
	background-color: hsl(234, 85%, 45%, .3);
	color: hsl(234, 85%, 45%);
	display: flex;
	flex-wrap: wrap;
}

.visual > .category{
	margin-right: 196px;
}

/*Button*/
button {
	background-color: hsl(224, 30%, 27%);
	font-size: 20px;
	color: white;
	height: 50px;
	width: 325px;
	border-radius: 50px;
	padding-top: 10px;
	padding-right: 90px;
	padding-bottom: 10px;
	padding-left: 90px;
	margin: 20px;
	transition-duration: 0.4s;
}

button:hover {
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: white;
}